.about-container {
  background: linear-gradient(
      to bottom,
      rgba(148, 252, 19, 0.88),
      rgba(98, 195, 219, 0.8),
      rgba(221, 87, 199, 0.88) /* rgba(255, 0, 200, 0.4) */
    ),
    url('https://res.cloudinary.com/db9i05s6n/image/upload/v1614988099/communityStorages/msvg8hwamirrqtqjtpph.jpg')
      top;
  background-size: cover;
  background-origin: border-box;
  background-attachment: scroll;
  background-position: center;
  background-clip: padding-box;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;

  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
}

.margin-top {
  padding: 2rem 2rem 0rem 2rem;
}

.my-linkedIn {
  /* color: rgb(5, 223, 215); */
  color: #3b064d;
  margin: 3rem 6rem;
  padding: 1rem;
}

.my-linkedIn a {
  /* color: rgb(5, 223, 215); */
  color: #161d6f;
}

.about-container h1 {
  margin: 2rem;
  padding: 1rem;
  font-size: 2.8rem;
  /* color: rgb(243, 41, 209); */
  color: #ff00c8;

  /* color: #fa26a0; */
}
.about-container h2 {
  margin: 1rem 3rem;
  padding: 1rem;
  /* color: #472b62; */
  color: #84253e;
}

.about-container h2 span {
  /* color: #a7ff83; */
  /* color: rgb(148, 252, 19); */
  color: #a8ff3e;
}

.about-container h4 {
  margin: 3rem;
  padding: 1rem;
  color: #fe59d7;
  /* color: #ff009d; */
}
.about-container span {
  /* margin: rem; */
  padding: 1rem;
}

@media (max-width: 1111px) {
}
