.about-container {
  background: conic-gradient(
      from -90deg at 25% 115%,
      rgba(148, 252, 19, 0.88),
      rgba(98, 195, 219, 0.8),
      rgba(221, 87, 199, 0.88),
      rgba(255, 0, 0, 0.88),
      rgba(255, 0, 102, 0.9)
    ),
    url('https://res.cloudinary.com/db9i05s6n/image/upload/v1614988099/communityStorages/msvg8hwamirrqtqjtpph.jpg')
      top;
  background-size: cover;
  background-origin: border-box;
  background-attachment: scroll;
  background-position: center;
  background-clip: padding-box;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.margin-top {
  padding: 2rem 2rem 0rem 2rem;
}

.my-linkedIn {
  color: #3b064d;
  margin: 3rem 6rem;
  padding: 1rem;
}

.my-linkedIn a {
  color: #3c074d;
}

.about-container h1 {
  margin: 2rem;
  padding: 1rem;
  font-size: 2.8rem;
  color: #8a0f84;
}
.about-container h2 {
  margin: 1rem 3rem;
  padding: 1rem;
  color: #644834;
}

.about-container h2 span {
  color: #7fff00;
}

.about-container h2 a,
.about-container h3 a {
  color: #8a0f84;
}

.about-container span {
  padding: 1rem;
}

@media (max-width: 1111px) {
}
