.icons-plus-graph-container {
  margin: 1rem;
  border: 1px solid rgb(221, 87, 199);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  background: rgba(240, 228, 237, 0.2);
}

.icons-plus-graph-container:hover {
  border: 1px solid blue;
  background: rgba(213, 245, 182, 0.4);
}

.icons-plus-graph-container h2 {
  text-align: center;
  margin: 0.5rem;
  padding: 0.5rem;
  color: #08f7fe;
  background: rgba(254, 83, 187, 0.7);
}

.icons-container {
  padding: 0.6rem;
  border-bottom: 1px solid rgb(232, 232, 238);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.icons-container h2 {
  color: rgb(65, 35, 94);
  font-style: italic;
}

.icons-container:hover {
  border-bottom: 1px solid blue;
}

.graph-container {
  padding: 1rem;
}

.graph-container:hover {
  border-top: 1px solid blue;
}

.info-icon {
  border: none;
  padding: 0.1rem 0.3rem;
  overflow: hidden;
  background: rgb(98, 195, 219);
  color: rgb(24, 23, 24);
  height: max-content;
}

.info-icon p {
  margin: 0.3rem;
  padding: 0.1rem;
  font-weight: bold;
  font-size: 1.1rem;
}

.button-container {
  display: flex;
  justify-content: center;
}

@media (max-width: 555px) {
  .icons-container {
    flex-direction: column;
  }
  .button {
    margin: 0.3rem;
  }
}
