.search-and-add {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  /* margin-top: 0; */
}

.search-input {
  position: relative;
  list-style: none;
  padding: 1rem;
  margin: 1rem auto;
  width: 90%;
  max-width: 40rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  background: white;
}

.items-actions {
  /* margin: 1rem; */
  border: 1px solid rgb(221, 87, 199);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  padding: 1rem;
  background: rgba(240, 228, 237, 0.2);

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.icons-container:hover {
  border-bottom: 1px solid blue;
}

.graph-container {
  padding: 1rem;
}

.graph-container:hover {
  border-top: 1px solid blue;
}

@media (max-width: 660px) {
  .items-actions {
    flex-direction: column;
  }
}
