.button {
  font: inherit;
  font-family: cursive;
  font-size: 1.1rem;
  padding: 0.5rem 1.5rem;
  border: 1px solid #fb33db;
  border-radius: 4px;
  background: #fe53bb;
  color: #01ffff;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #01ffff;
  color: #9d72ff;
  font-weight: bold;
  border-color: #9d72ff;
}

.button--inverse {
  background: transparent;
  color: #fe53bb;
}

.button--inverse:hover,
.button--inverse:active {
  color: #01ffff;
  background: #9d72ff;
  border-color: #01ffff;
}

.button--danger {
  background: #fe1c80;
  border-color: #fb33db;
}

.button--enter {
  background: #43d436;
  border-color: #7fff00;
}

.button--out {
  background: #28204f;
  border-color: #28204f;
}

.button--stat {
  background: #b82cb1;
  border-color: #fb33db;
}

.button--danger:hover,
.button--danger:active {
  background: #01ffff;
  border-color: #9d72ff;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}

.button--small {
  font-size: 0.8rem;
}

.button--big {
  font-size: 1.5rem;
  min-width: 6rem;
}

@media (min-width: 550px) {
  .button {
    margin: 0.5rem;
  }
}
