.item {
  position: relative;
  margin: 0.1rem;
  border: 1px solid rgb(221, 87, 199);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  /* padding: 1rem !important; */
  /* width: 90vw; */
  background: rgba(240, 228, 237, 0.2);
  padding: 1rem;
  overflow: hidden;
  /* background: white; */
  /* max-width: 77%; */
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.item:hover {
  border: 1px solid blue;
  background: rgba(213, 245, 182, 0.4);
}

.item-details {
  width: 20vw;
  max-width: 23vw;
  margin: 0 1rem;
  display: inline;
  color: rgb(39, 22, 56);
  /* white-space: pre-wrap; */
  /* word-wrap: break-word; */
  /* white-space: nowrap;
  overflow: hidden; */
  /* text-overflow: ellipsis; */
  /* padding: 1rem; */
}

.color {
  color: aquamarine;
}

.big {
  width: 12em;
  height: 6em;
  border: dotted;
  /* hyphens: auto; */
  /* word-wrap: break-word; */

  /* display: flex; */
  /* overflow-x: scroll; */
  /* scroll-snap-type: x mandatory; */
  /* scroll-snap-align: center; */
  overflow-wrap: break-word;
  /* word-break: break-all;  */
  /* white-space: pre-wrap; */
  /* word-wrazp: break-word; */
  /* white-space: nowrap; */
  /* Hide horizontal scrollbar */
  /* overflow-y: visible; */
  /* Add vertical scrollbar */
  /* overflow-x: scroll; */
  /* overflow: clip; */
  /* text-overflow: ellipsis; */
  padding: 1rem;
}

.item__image {
  width: 18rem;
  height: 6rem;
  margin-right: 1rem;
  flex-grow: 2;
  /* flex-basis: 12rem; */
}
/* .item_description {
  max-width: 11rem;
  align-self: center;
} */

.grouped_actions {
  padding: 0.1rem;
  text-align: center;
  border: 1px solid rgb(221, 87, 199);
  margin: 0.5rem 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  background: rgba(190, 46, 154, 0.1);

  display: flex;
  flex-direction: column;
}

.grouped_actions:hover {
  border: 1px solid blue;
  background: rgba(213, 245, 182, 0.4);
}

.grouped_actions button,
.grouped_actions a {
  margin: 0.5rem;
}

@media (min-width: 999px) {
  .item {
    flex-direction: row;
  }
  /* .item_description {
      max-width: 23%;
  } */
}
