.item {
  position: relative;
  margin: 0.1rem;
  border: 1px solid rgb(221, 87, 199);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  background: rgba(240, 228, 237, 0.2);
  padding: 1rem;
  overflow: hidden;
  text-align: center;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.item:hover {
  border: 1px solid #08f7fb;
  background: rgba(213, 245, 182, 0.4);
}

.item__image {
  width: 14rem;
  height: 6rem;
  margin-right: 0.42rem;
}

.item h3 {
  width: 12rem;
}

.item-details {
  width: 20vw;
  max-width: 42vw;
  margin: 0 1rem;
  display: inline;
  color: rgb(39, 22, 56);
}

.container {
  overflow: auto;
}

.wrapper {
  overflow-y: scroll;
  overflow-x: hidden;
}

.big {
  height: 6em;
  padding: 0.8rem;
  color: #08f7fe;
}

.big:hover {
  background: rgba(240, 33, 205, 0.2);
}

::-webkit-scrollbar {
  width: 0.42rem;
}

::-webkit-scrollbar-track {
  background-color: #8a0f84;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #3c074d;
}

.image_name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cost {
  width: 6rem;
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  color: #28204f;
}

.color {
  color:  #7fff00;
  font-weight: 660;
}

.grouped_actions {
  padding: 0.1rem;
  text-align: center;
  border: 1px solid rgb(221, 87, 199);
  margin: 0.5rem 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  background: rgba(190, 46, 154, 0.1);
  width: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grouped_actions:hover {
  border: 1px solid #08f7fb;
  background: rgba(213, 245, 182, 0.4);
}

.grouped_actions button,
.grouped_actions a {
  margin: 0.5rem;
}

.actions {
  display: flex;
}

@media (max-width: 1331px) {
  .item {
    width: 66vw;
    margin: 0.2rem auto;
    display: flex;
    flex-direction: column;
  }
  .image_name {
    flex-direction: row;
  }
  .info-container {
    justify-content: right;
    padding-right: 6rem;
  }
  .grouped_actions {
    margin: 0.2rem;
    width: 13rem;
  }

  .cost {
    flex-direction: row;
  }
  .color {
    margin: 1rem;
  }

  .big {
    max-width: 12rem;
    margin: 1rem;
  }
}

@media (max-width: 1111px) {
  .item {
    width: 53vw;
  }
  .image_name {
    flex-direction: column;
  }
  .info-container {
    flex-direction: column;
    align-items: center;
    padding: 0.2rem;
  }
  .big {
    width: 9rem;
  }

  .cost {
    flex-direction: column;
  }
  .actions {
    flex-direction: column;
  }
}
