.storages-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  margin: 1rem auto;
  width: 96%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.items-list {
  margin: 1rem 1rem;
  padding: 0;
}

.storage-list {
  list-style: none;
  margin: 1rem auto;
  padding: 0;
  width: 90%;
  max-width: 40rem;
}

.space-small_screan {
  margin: 0.5rem;
}
@media (min-width: 550px) {
  .space-small_screan {
    margin: 0.5rem;
  }
}
@media (max-width: 842px) {
  .items-list {
    margin: 0 auto;
  }
}
