.main-navigation__menu-btn {
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 2rem;
  cursor: pointer;
}

.main-navigation__menu-btn span {
  display: block;
  width: 3rem;
  height: 2.5px;
  background: #01ffff;
  margin: 0 1rem;
}

.main-navigation__title-group {
  /* width: 11rem; */
  display: flex;
  height: 100%;
}

.main-navigation__title {
  /* color: #01ffff; */
  font-size: 1.1rem;
  font-weight: 420;
  display: flex;
  padding: 0 0.2rem;
  align-items: center;
  cursor: pointer;
}

.main-navigation__title a {
  text-decoration: none;
  color: #01ffff;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.main-navigation__title a:hover {
  background: #644834;
  /* background: #9d72ff; */
  transition: all .2s;
}

.main-navigation__header-nav {
  display: none;
  height: 100%;
}

.main-navigation__drawer-nav {
  height: 100%;
}

@media (min-width: 768px) {
  .main-navigation__menu-btn {
    display: none;
  }

  .main-navigation__header-nav {
    display: block;
  }
}
