.main-navigation__menu-btn {
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 2rem;
  cursor: pointer;
}

.main-navigation__menu-btn span {
  display: block;
  width: 3rem;
  height: 2.5px;
  background: #01ffff;
  margin: 0 1rem;
}

.main-navigation__title-group {
  width: 11rem;
  display: flex;
  /* justify-content: space-between; */
  height: 100%;
}

.main-navigation__title {
  color: #01ffff;
  font-size: 1.1rem;
  font-weight: bold;
  display: flex;
  /* padding-left: 2rem; */
  padding: 0 2rem;
  align-items: center;
  cursor: pointer;
}

.main-navigation__title a {
  text-decoration: none;
  color: #01ffff;
  height: 100%;
  display: flex;
  align-items: center;
}

.main-navigation__title:hover {
  background: rgb(1, 255, 255);
  /* color: #9d72ff; */
  transition: all .2s;
}

.main-navigation__title a:hover {
  /* background: rgb(1, 255, 255); */
  color: #9d72ff;
  transition: all .2s;
}

.main-navigation__header-nav {
  display: none;
  height: 100%;
}

.main-navigation__drawer-nav {
  height: 100%;
}

@media (min-width: 768px) {
  .main-navigation__menu-btn {
    display: none;
  }

  .main-navigation__header-nav {
    display: block;
  }
}
