.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 420;
}

.nav-links li {
  margin: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-links a {
  /* border: 1px solid transparent; */
  color: #01ffff;
  text-decoration: none;
  padding: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
}

/* .nav-links a span {
  padding-left: 0.5rem;
} */

.nav-links li:hover,
 .nav-links li:active {
  background: #644834;
  /* background: #9d72ff; */
  transition: all .2s;
}

/* .nav-links a:hover,
.nav-links a:active,
.nav-links a.active {
  background: #01ffff;
  color: #9d72ff;
  transform: all .2s;
} */
/* 
.nav-links button {
  cursor: pointer;
  background: transparent;
  padding: 0.5rem;
  font: inherit;
  border: none;
}

.nav-links button:focus {
  outline: none;
}

.nav-links button:hover,
.nav-links button:active {

  background: #292929;
  color: white;
} */

.active {
  background: #644834;
  /* background: #9d72ff; */
  /* color: #9d72ff; */
  /* transform: all .2s; */
  transition: all .2s;
}

@media (min-width: 768px) {
  .nav-links {
    flex-direction: row;
  }

  .nav-links li {
    margin: 0 0.5rem;
  }

  .nav-links a {
    color: #01ffff;
    text-decoration: none;
  }

  .nav-links a span {
  padding-left: 0.5rem;
}

  /* .nav-links button {
    border: 1px solid rgb(221, 87, 199);
    margin: 0.5rem 0.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 6px;
    color: #ff8fcf;
    background: transparent;
  }

  .nav-links button:hover,
  .nav-links button:active {
    background: #01ffff;
    color: #9d72ff;
  } */
}
