.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 420;
}

.nav-links li {
  margin: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-links a {
  color: #01ffff;
  text-decoration: none;
  padding: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-links li:hover,
 .nav-links li:active {
  background: #644834;
  /* background: #9d72ff; */
  transition: all .2s;
}

.nav-links a:hover,
.nav-links a:active,
.nav-links a.active {
  background: #644834;
  transition: all .2s;
}

.active {
  background: #644834;
  transition: all .2s;
}

@media (min-width: 768px) {
  .nav-links {
    flex-direction: row;
  }

  .nav-links li {
    margin: 0 0.5rem;
  }

  .nav-links a {
    color: #01ffff;
    text-decoration: none;
  }

  .nav-links a span {
  padding-left: 0.5rem;
}
}
